<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/scripts.ejs %>
  </head>
  <body>
    <div class='container'>
        <% include partials/header.ejs %>
        <form method="POST" action='/userToAdd/<% if (typeof user != 'undefined') { %><%= user.key %><% } %>'>
            <input name='name' type="text" placeholder="Enter Name" 
            <% if (typeof user != 'undefined') { %> 
              value='<%= user.name %>'
              <% } %>/>
            <input name='age' type="number" placeholder="Enter Age" 
            <% if (typeof user != 'undefined') { %> 
              value='<%= user.age %>'
              <% } %>/>
            <input type="submit" class='btn btn-success'>
        </form>
    </div>
  </body>
</html>